<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>ACMS - {{ title }}</title>
	{% else %}
		<title>ACMS</title>
	{% endif %}
</head>
<style type="text/css">
	div {
		margin-left: 700px;
		margin-top: 110px;
		margin-right: 700px;
		border-style: double;
	}
</style>
<body>
	<h1><center>Amrita Courier Management System (ACMS)</center></h1><br><br>
	<p><center>please visit room number abc to collect your package</center></p><br><br>
	<div>
		<center>
		<p>Are you an admin? <a href="http://127.0.0.1:8000/admin/login/?next=/admin/">click here</a></p><br>
		<p><a href=#>Login</a></p><br>
		<p>Don't have an account? <a href="http://127.0.0.1:8000/register">Register Now</a></p>
		</center>
	</div>
</body>
</html>