<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% if title %}
		<title>ACMS - {{ title }}</title>
	{% else %}
		<title>ACMS</title>
	{% endif %}
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css">
	fieldset {
		margin-right: 700px;
		margin-left: 700px;
	}
	h1	{
		font-family: "amrita";
	}
</style>
<body>
	{% if messages %}
		{% for message in messages %}
			<div>
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<h1 style="margin-top: 60px";><b><center>Amrita Courier Management System (ACMS)</b><a href="{% url 'about' %}"><img border="0" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQfF-R2_Pe0JP4qv06KBWv2a7SQCN--zeTKmVHmkXJrMJUGD0ZC" width="200" height="150"></a></center></h1><br>
	<div style="margin-top: 110px";>
		<p><center>Login using your Roll number.</center></p><br>
		<div>
			<center>
			<div>
				<legend>
				<form method="POST">
					{% csrf_token %}
					<fieldset>
						{{ form.as_p }}
					</fieldset>
					<div>
						<button class="btn btn-outline-info" type="submit">Login</button>
					</div>
				</form>
				</legend>
			</div><br><br>
			<p>Not yet Registered? <a href="{% url 'register' %}">Register now!</a></p>
			<p>Forgot password? <a href="{% url 'password_reset' %}">Reset</a></p>
			<p>Are you an admin? <a href="{% url 'admin:login' %}">click here</a></p><br>
			</center>
		</div>
	</div>
</body>
</html>