{% extends "couriermanage/base.html" %}
{% block content %}
<style type="text/css">
  li {
    border-width: 3px;
    border-style: groove;
    padding-left: 30px;
    margin-right: 1300px;
  }
</style>
  <h1 style="padding-left: 20px;">Hello there</h1><br>
  <h5 style="padding-left: 20px;">Please visit room number s-004 to collect your package.</h5>
  <h5 style="padding-left: 20px;">Packages recieved as of now: </h5><br>
  {% if couriers %}
    <ol>
      {% for courier in couriers %}
      <li>{{ courier.name }}<br>{{ courier.service }}<br>{{ courier.date_recieved }}</li>
      <br>
      {% endfor %}
    </ol>
  {% else %}
    <center>
    <div style="margin-top: 170px">
      <h4>Could'nt find any packages for you.<br>Make sure you typed your roll number correct.</h3>
    </div>
    </center>
  {% endif %}
{% endblock content %}