{% extends 'admin/change_list.html' %}
{% block object-tools %}
	<div>
		<input type="text" placeholder="package ID" id="p_id">
		<button type="button" onclick="del();">Remove package</button>
	</div><br>
	<script type="text/javascript">
		function del() {
			var id = document.getElementById("p_id").value;
			if (id=="") {
				alert("please give a valid id")
			}
			else {
				window.location = "/admin/couriermanage/courier/"+id+"/delete/"
			}
		}
	</script>
	{{ block.super }}
{% endblock object-tools %}